<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Rock-Paper-Sissors</h1><hr>
        <h4><h2>NOTE:</h2>You are playing against the computer and <br>the coumputer has already made its choice. <br>So guess the coumputer choice and test your luck</h4><br><br><hr><br>
        <h4>Choose your weapon</h4><br>
        <form action="/loading" method="post">
            <button type="submit" name="choice" value="rock">Rock</button>
            <button type="submit" name="choice" value="paper">Paper</button>
            <button type="submit" name="choice" value="scissors">Scissors</button>
        </form>
    </div>
    
</body>
</html>