<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="refresh" content="2;url=/play/{{ choice }}">
</head>
<body>
    <div class="container">
        <h1>Rock, Paper, Scissors</h1>
        <p>Please wait, the we are calculating the reuslt...</p><br><br>
        <div class="spinner"></div><br>
         <h4>Built by: GURURAJ ACHAR <br>Want me to build your custome app?<br>
        Contact:achargururaj750@gmail.com <br></h4>
    </div>
</body>
</html>


